In [1]:
import requests
import config
from bs4 import BeautifulSoup as BS
import mysql.connector
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.formula.api import ols
import statsmodels.api as sm

In [2]:
cnx = mysql.connector.connect(
  host=config.hostj,
  user=config.userj,
  passwd=config.pwj,
  database = 'nfl_draft_info')

cursor = cnx.cursor()

In [4]:
df_joined = pd.read_csv('df_joined.csv')
df_joined = df_joined.set_index('id')
df_joined = df_joined.drop(df_joined.columns[0], axis=1)

In [19]:
df_joined.head()

,name,contract_years,total_value,gtd_start,gtd_total,year,position,height,weight,forty,vertical,bench,broad_jump,three_cone,shuttle,pick_number
id,,,,,,,,,,,,,,,,
11,Nelson Agholor,4,9377374,8520507,8520507,2015,WR,72,198,4.42,NaN,12.0,NaN,NaN,NaN,20.0
10,Arik Armstead,4,9842630,9842630,9842630,2015,DE,79,292,5.06,34.0,24.0,117.0,7.57,4.53,17.0
6,Vic Beasley,4,14495228,14495228,14495228,2015,OLB,75,246,4.53,41.0,35.0,130.0,6.91,4.15,8.0
3,Amari Cooper,4,22663116,22663116,22663116,2015,WR,73,211,4.42,33.0,NaN,120.0,6.71,3.98,4.0
9,Melvin Gordon,4,10669773,10669773,10669773,2015,RB,73,215,4.52,35.0,19.0,126.0,7.04,4.07,15.0

In [20]:
df_joined['position'].unique()

array(['WR', 'DE', 'OLB', 'RB', 'OT', 'CB', 'QB', 'FS', 'DT', 'C', 'P',
       'TE', 'SS', 'ILB', 'OG', 'EDGE', 'S', 'FB', 'LB', 'DB', 'OL', 'DL',
       'K'], dtype=object)

In [22]:
position_groups = {'WR': 'BK', 'DE': 'DL', 'OLB': 'LB', 'RB': 'BK', 'OT': 'OL', 'CB': 'BK', 'QB': 'QB',
                  'FS': 'BK', 'DT': 'DL', 'C': 'OL', 'P': 'ST', 'TE': 'BK', 'SS': 'BK', 'ILB': 'LB', 'OG': 'OL',
                  'EDGE': 'LB', 'S': 'BK', 'FB': 'BK', 'LB': 'LB', 'DB': 'BK', 'OL': 'OL', 'DL': 'DL',
                  'K': 'ST'}

In [23]:
df_joined['pos_grp'] = df_joined['position'].map(position_groups)

In [24]:
df_joined.head(50)

,name,contract_years,total_value,gtd_start,gtd_total,year,position,height,weight,forty,vertical,bench,broad_jump,three_cone,shuttle,pick_number,pos_grp
id,,,,,,,,,,,,,,,,,
11,Nelson Agholor,4,9377374,8520507,8520507,2015,WR,72,198,4.42,NaN,12.0,NaN,NaN,NaN,20.0,BK
10,Arik Armstead,4,9842630,9842630,9842630,2015,DE,79,292,5.06,34.0,24.0,117.0,7.57,4.53,17.0,DL
6,Vic Beasley,4,14495228,14495228,14495228,2015,OLB,75,246,4.53,41.0,35.0,130.0,6.91,4.15,8.0,LB
3,Amari Cooper,4,22663116,22663116,22663116,2015,WR,73,211,4.42,33.0,NaN,120.0,6.71,3.98,4.0,BK
9,Melvin Gordon,4,10669773,10669773,10669773,2015,RB,73,215,4.52,35.0,19.0,126.0,7.04,4.07,15.0,BK
13,D.J. Humphries,4,8912112,7261824,7261824,2015,OT,77,307,5.12,31.0,26.0,104.0,7.87,4.64,24.0,OL
14,Byron Jones,4,8601941,6993950,6993950,2015,CB,73,199,4.43,44.5,NaN,147.0,6.78,3.94,27.0,BK
2,Marcus Mariota,4,24213974,24213974,24213974,2015,QB,76,222,4.52,36.0,NaN,121.0,6.87,4.11,2.0,QB
8,Andrus Peat,4,11393496,11393496,11393496,2015,OT,79,313,5.18,31.0,NaN,105.0,8.01,4.62,13.0,OL
15,Damarious Randall,4,7915734,5966315,5966315,2015,FS,71,196,4.46,38.0,14.0,120.0,6.83,4.07,30.0,BK
4,Brandon Scherff,4,21215638,21215638,21215638,2015,OT,77,319,5.05,NaN,23.0,NaN,NaN,NaN,5.0,OL
7,Trae Waynes,4,12944368,12944368,12944368,2015,CB,72,186,4.31,38.0,19.0,122.0,7.06,4.39,11.0,BK
5,Leonard Williams,4,18630866,18630866,18630866,2015,DT,77,302,4.97,29.5,NaN,106.0,7.59,4.53,6.0,DL
1,Jameis Winston,4,25351277,25351277,25351277,2015,QB,76,231,4.97,28.5,NaN,103.0,7.16,4.36,1.0,QB
48,Mackensie Alexander,4,4316304,1985326,1985326,2016,CB,70,190,4.43,NaN,11.0,NaN,NaN,NaN,54.0,BK
22,Eli Apple,4,15152320,15152320,15152320,2016,CB,73,199,4.40,NaN,13.0,NaN,NaN,NaN,10.0,BK
50,Vonn Bell,4,3972299,1088945,1088945,2016,FS,71,199,4.52,NaN,16.0,NaN,NaN,NaN,61.0,BK
83,Andrew Billings,4,2875845,535845,535845,2016,DT,73,311,5.05,27.5,31.0,113.0,8.05,4.82,122.0,DL
93,Ronald Blair,4,2610405,270405,270405,2016,DE,74,284,5.15,30.0,32.0,113.0,7.95,4.53,142.0,DL
122,Austin Blythe,4,2401989,61989,61989,2016,C,74,298,5.36,27.5,29.0,99.0,7.52,4.53,248.0,OL
91,Devontae Booker,4,2723393,383393,383393,2016,RB,71,219,4.56,NaN,22.0,NaN,NaN,NaN,136.0,BK
16,Joey Bosa,4,25873685,25873685,25873685,2016,DE,77,269,4.86,32.0,24.0,120.0,6.89,4.21,3.0,DL
51,James Bradberry,4,3960836,1710646,1710646,2016,CB,73,211,4.50,36.0,16.0,124.0,6.91,4.21,62.0,BK
102,Kentrell Brothers,4,2572681,232681,232681,2016,OLB,72,245,4.89,28.5,19.0,110.0,6.99,4.11,160.0,LB
108,Anthony Brown,4,2474947,134947,134947,2016,CB,71,192,4.33,35.0,19.0,115.0,7.03,4.19,189.0,BK
19,DeForest Buckner,4,18190995,18190995,18190995,2016,DE,79,291,5.05,32.0,NaN,116.0,7.51,4.47,7.0,DL
56,Jonathan Bullard,4,3413520,826520,826520,2016,DE,75,285,4.93,32.0,23.0,116.0,7.31,4.56,72.0,DL
34,Artie Burns,4,9590981,7383120,7383120,2016,CB,72,193,4.46,31.5,NaN,NaN,NaN,NaN,25.0,BK
85,Deon Bush,4,2866218,526218,526218,2016,FS,72,199,4.64,36.0,17.0,123.0,NaN,NaN,124.0,BK
36,Vernon Butler,4,8396514,7946514,7946514,2016,DT,76,323,5.33,29.5,26.0,104.0,7.82,4.76,30.0,DL
80,De'Vondre Campbell,4,2905528,565528,565528,2016,OLB,76,232,4.58,34.0,16.0,116.0,NaN,NaN,115.0,LB
61,Le'Raven Clark,4,3142732,733732,733732,2016,OT,77,316,5.16,NaN,18.0,NaN,NaN,NaN,82.0,OL
35,Kenny Clark,4,9361646,7185058,7185058,2016,DT,75,314,5.06,28.5,29.0,102.0,NaN,4.62,27.0,DL
58,Shon Coleman,4,3278816,787536,787536,2016,OT,77,307,5.18,NaN,22.0,NaN,NaN,NaN,76.0,OL
54,Maliek Collins,4,3550180,881152,881152,2016,DT,74,311,5.03,29.5,25.0,109.0,7.53,4.52,67.0,DL
20,Jack Conklin,4,15897658,15447658,15447658,2016,OT,78,308,5.00,30.0,25.0,103.0,7.63,4.57,8.0,OL
111,Cody Core,4,2467932,127932,127932,2016,WR,75,205,4.47,31.5,14.0,119.0,NaN,NaN,199.0,BK
42,Kamalei Correa,4,5749639,3092902,3092902,2016,DE,75,243,4.69,33.0,21.0,108.0,NaN,NaN,42.0,DL
49,Sean Davis,4,4086970,1808113,1808113,2016,CB,73,201,4.46,37.5,21.0,126.0,6.64,3.97,58.0,BK
74,Sheldon Day,4,2948410,608410,608410,2016,DT,73,293,5.07,30.0,21.0,102.0,7.44,4.50,103.0,DL
27,Taylor Decker,4,10966980,10966980,10966980,2016,OT,79,310,5.23,29.0,20.0,101.0,7.70,4.76,16.0,OL
57,Kenyan Drake,4,3381260,821260,821260,2016,RB,73,210,4.45,34.5,10.0,123.0,7.04,4.21,73.0,BK
118,Lachlan Edwards,4,2415795,75795,75795,2016,P,76,209,4.98,NaN,NaN,NaN,NaN,NaN,NaN,ST
62,Kyler Fackrell,4,3134328,694048,694048,2016,OLB,77,245,4.72,34.5,15.0,121.0,NaN,NaN,88.0,LB
21,Leonard Floyd,4,15782861,15332861,15332861,2016,OLB,78,244,4.60,39.5,NaN,127.0,NaN,NaN,9.0,LB
114,Kavon Frazier,4,2440356,100356,100356,2016,FS,72,217,4.53,NaN,18.0,NaN,NaN,NaN,212.0,BK
64,Kendall Fuller,4,3123424,718424,718424,2016,CB,71,187,4.48,NaN,15.0,NaN,NaN,NaN,84.0,BK
32,Will Fuller,4,10164313,9409270,9409270,2016,WR,72,186,4.32,33.5,10.0,126.0,6.93,4.27,21.0,BK
71,Graham Glasgow,4,3037920,645420,645420,2016,C,78,307,5.13,25.0,23.0,106.0,7.63,4.63,95.0,OL
77,B.J. Goodson,4,2922207,582207,582207,2016,OLB,73,242,4.69,34.5,30.0,118.0,7.05,4.51,109.0,LB

In [39]:
cols = df_joined.columns.tolist()

In [40]:
cols = cols[:5] + cols[-1:] + cols[5:-1]

In [42]:
cols.pop(7)

'position'

In [43]:
cols

['name',
 'contract_years',
 'total_value',
 'gtd_start',
 'gtd_total',
 'pos_grp',
 'year',
 'height',
 'weight',
 'forty',
 'vertical',
 'bench',
 'broad_jump',
 'three_cone',
 'shuttle',
 'pick_number']

In [47]:
df_joined = df_joined[cols]

In [48]:
df_joined.head()

,name,contract_years,total_value,gtd_start,gtd_total,pos_grp,year,height,weight,forty,vertical,bench,broad_jump,three_cone,shuttle,pick_number
id,,,,,,,,,,,,,,,,
11,Nelson Agholor,4,9377374,8520507,8520507,BK,2015,72,198,4.42,NaN,12.0,NaN,NaN,NaN,20.0
10,Arik Armstead,4,9842630,9842630,9842630,DL,2015,79,292,5.06,34.0,24.0,117.0,7.57,4.53,17.0
6,Vic Beasley,4,14495228,14495228,14495228,LB,2015,75,246,4.53,41.0,35.0,130.0,6.91,4.15,8.0
3,Amari Cooper,4,22663116,22663116,22663116,BK,2015,73,211,4.42,33.0,NaN,120.0,6.71,3.98,4.0
9,Melvin Gordon,4,10669773,10669773,10669773,BK,2015,73,215,4.52,35.0,19.0,126.0,7.04,4.07,15.0

In [49]:
position_dummy = pd.get_dummies(df_joined['pos_grp'],prefix = 'position', drop_first=True)

In [55]:
position_dummy.head(50)

     position_DL  position_LB  position_OL  position_QB  position_ST
id
11             0            0            0            0            0
10             1            0            0            0            0
6              0            1            0            0            0
3              0            0            0            0            0
9              0            0            0            0            0
13             0            0            1            0            0
14             0            0            0            0            0
2              0            0            0            1            0
8              0            0            1            0            0
15             0            0            0            0            0
4              0            0            1            0            0
7              0            0            0            0            0
5              1            0            0            0            0
1              0            0            0            1            0
48             0            0            0            0            0
22             0            0            0            0            0
50             0            0            0            0            0
83             1            0            0            0            0
93             1            0            0            0            0
122            0            0            1            0            0
91             0            0            0            0            0
16             1            0            0            0            0
51             0            0            0            0            0
102            0            1            0            0            0
108            0            0            0            0            0
19             1            0            0            0            0
56             1            0            0            0            0
34             0            0            0            0            0
85             0            0            0            0            0
36             1            0            0            0            0
80             0            1            0            0            0
61             0            0            1            0            0
35             1            0            0            0            0
58             0            0            1            0            0
54             1            0            0            0            0
20             0            0            1            0            0
111            0            0            0            0            0
42             1            0            0            0            0
49             0            0            0            0            0
74             1            0            0            0            0
27             0            0            1            0            0
57             0            0            0            0            0
118            0            0            0            0            1
62             0            1            0            0            0
21             0            1            0            0            0
114            0            0            0            0            0
64             0            0            0            0            0
32             0            0            0            0            0
71             0            0            1            0            0
77             0            1            0            0            0

In [56]:
df_joined[['pos_grp']]

    pos_grp
id
11       BK
10       DL
6        LB
3        BK
9        BK
..      ...
592      LB
624      ST
640      DL
615      LB
549      BK

[653 rows x 1 columns]

In [57]:
df_with_dummies = pd.concat([df_joined, position_dummy], axis = 1)

In [58]:
df_with_dummies.head()

,name,contract_years,total_value,gtd_start,gtd_total,pos_grp,year,height,weight,forty,...,bench,broad_jump,three_cone,shuttle,pick_number,position_DL,position_LB,position_OL,position_QB,position_ST
id,,,,,,,,,,,,,,,,,,,,,
11,Nelson Agholor,4,9377374,8520507,8520507,BK,2015,72,198,4.42,...,12.0,NaN,NaN,NaN,20.0,0,0,0,0,0
10,Arik Armstead,4,9842630,9842630,9842630,DL,2015,79,292,5.06,...,24.0,117.0,7.57,4.53,17.0,1,0,0,0,0
6,Vic Beasley,4,14495228,14495228,14495228,LB,2015,75,246,4.53,...,35.0,130.0,6.91,4.15,8.0,0,1,0,0,0
3,Amari Cooper,4,22663116,22663116,22663116,BK,2015,73,211,4.42,...,NaN,120.0,6.71,3.98,4.0,0,0,0,0,0
9,Melvin Gordon,4,10669773,10669773,10669773,BK,2015,73,215,4.52,...,19.0,126.0,7.04,4.07,15.0,0,0,0,0,0

In [74]:
val_reg_pos = ols('total_value~forty+bench+shuttle+vertical+position_DL+position_LB+position_OL', data=df_with_dummies).fit()
val_reg_pos.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            total_value   R-squared:                       0.170
Model:                            OLS   Adj. R-squared:                  0.152
Method:                 Least Squares   F-statistic:                     9.416
Date:                Wed, 15 Jan 2020   Prob (F-statistic):           1.24e-10
Time:                        16:50:53   Log-Likelihood:                -5526.2
No. Observations:                 330   AIC:                         1.107e+04
Df Residuals:                     322   BIC:                         1.110e+04
Df Model:                           7
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept    3.239e+07    1.2e+07      2.710      0.007    8.87e+06    5.59e+07
forty       -6.273e+06   1.97e+06     -3.185      0.002   -1.01e+07    -2.4e+06
bench        7.691e+04   5.81e+04      1.324      0.187   -3.74e+04    1.91e+05
shuttle     -2.365e+06   1.78e+06     -1.328      0.185   -5.87e+06    1.14e+06
vertical     2.753e+05   9.35e+04      2.944      0.003    9.13e+04    4.59e+05
position_DL  6.152e+06   1.16e+06      5.296      0.000    3.87e+06    8.44e+06
position_LB  1.041e+06   8.52e+05      1.221      0.223   -6.36e+05    2.72e+06
position_OL  6.761e+06   1.39e+06      4.874      0.000    4.03e+06    9.49e+06
==============================================================================
Omnibus:                      173.067   Durbin-Watson:                   2.086
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              939.220
Skew:                           2.213   Prob(JB):                    1.12e-204
Kurtosis:                       9.980   Cond. No.                     1.90e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.9e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [75]:
df_joined['yearly'] = df_joined['total_value']/df_joined['contract_years']

In [76]:
df_joined.head()

,name,contract_years,total_value,gtd_start,gtd_total,pos_grp,year,height,weight,forty,vertical,bench,broad_jump,three_cone,shuttle,pick_number,yearly
id,,,,,,,,,,,,,,,,,
11,Nelson Agholor,4,9377374,8520507,8520507,BK,2015,72,198,4.42,NaN,12.0,NaN,NaN,NaN,20.0,2344343.50
10,Arik Armstead,4,9842630,9842630,9842630,DL,2015,79,292,5.06,34.0,24.0,117.0,7.57,4.53,17.0,2460657.50
6,Vic Beasley,4,14495228,14495228,14495228,LB,2015,75,246,4.53,41.0,35.0,130.0,6.91,4.15,8.0,3623807.00
3,Amari Cooper,4,22663116,22663116,22663116,BK,2015,73,211,4.42,33.0,NaN,120.0,6.71,3.98,4.0,5665779.00
9,Melvin Gordon,4,10669773,10669773,10669773,BK,2015,73,215,4.52,35.0,19.0,126.0,7.04,4.07,15.0,2667443.25

In [77]:
cols = df_joined.columns.tolist()

In [78]:
cols

['name',
 'contract_years',
 'total_value',
 'gtd_start',
 'gtd_total',
 'pos_grp',
 'year',
 'height',
 'weight',
 'forty',
 'vertical',
 'bench',
 'broad_jump',
 'three_cone',
 'shuttle',
 'pick_number',
 'yearly']

In [79]:
cols = cols[:4] + cols[-1:] + cols[4:-1]

In [81]:
df_joined = df_joined[cols]

In [82]:
df_joined.head()

,name,contract_years,total_value,gtd_start,yearly,gtd_total,pos_grp,year,height,weight,forty,vertical,bench,broad_jump,three_cone,shuttle,pick_number
id,,,,,,,,,,,,,,,,,
11,Nelson Agholor,4,9377374,8520507,2344343.50,8520507,BK,2015,72,198,4.42,NaN,12.0,NaN,NaN,NaN,20.0
10,Arik Armstead,4,9842630,9842630,2460657.50,9842630,DL,2015,79,292,5.06,34.0,24.0,117.0,7.57,4.53,17.0
6,Vic Beasley,4,14495228,14495228,3623807.00,14495228,LB,2015,75,246,4.53,41.0,35.0,130.0,6.91,4.15,8.0
3,Amari Cooper,4,22663116,22663116,5665779.00,22663116,BK,2015,73,211,4.42,33.0,NaN,120.0,6.71,3.98,4.0
9,Melvin Gordon,4,10669773,10669773,2667443.25,10669773,BK,2015,73,215,4.52,35.0,19.0,126.0,7.04,4.07,15.0

In [83]:
df_with_dummies['yearly'] = df_with_dummies['total_value']/df_with_dummies['contract_years']

In [84]:
cols = df_with_dummies.columns.tolist()

In [85]:
cols = cols[:5] + cols[-1:] + cols[5:-1]

In [86]:
df_with_dummies = df_with_dummies[cols]

In [87]:
df_with_dummies.head()

,name,contract_years,total_value,gtd_start,gtd_total,yearly,pos_grp,year,height,weight,...,bench,broad_jump,three_cone,shuttle,pick_number,position_DL,position_LB,position_OL,position_QB,position_ST
id,,,,,,,,,,,,,,,,,,,,,
11,Nelson Agholor,4,9377374,8520507,8520507,2344343.50,BK,2015,72,198,...,12.0,NaN,NaN,NaN,20.0,0,0,0,0,0
10,Arik Armstead,4,9842630,9842630,9842630,2460657.50,DL,2015,79,292,...,24.0,117.0,7.57,4.53,17.0,1,0,0,0,0
6,Vic Beasley,4,14495228,14495228,14495228,3623807.00,LB,2015,75,246,...,35.0,130.0,6.91,4.15,8.0,0,1,0,0,0
3,Amari Cooper,4,22663116,22663116,22663116,5665779.00,BK,2015,73,211,...,NaN,120.0,6.71,3.98,4.0,0,0,0,0,0
9,Melvin Gordon,4,10669773,10669773,10669773,2667443.25,BK,2015,73,215,...,19.0,126.0,7.04,4.07,15.0,0,0,0,0,0