In [151]:
import requests
import config
from bs4 import BeautifulSoup as BS
import mysql.connector
import pandas as pd

In [125]:
cnx = mysql.connector.connect(
  host=config.hostj,
  user=config.userj,
  passwd=config.pwj,
  database = 'nfl_draft_info')

cursor = cnx.cursor()

In [136]:
cnx.commit()

In [128]:
cursor.execute("""SHOW TABLES""")
cursor.fetchall()

[('draft_picks',), ('nfl_combine_info',)]

In [161]:
cursor.execute("""SELECT * FROM draft_picks WHERE name LIKE '%Url%'""")
cursor.fetchall()

[(578, 71, 'Nate Burleson', 'WR', 'Nevada', 2003),
 (655, 148, 'Dan Curley', 'FB', 'East. Washington', 2003),
 (3579, 10, 'Todd Gurley', 'RB', 'Georgia', 2015),
 (4850, 9, "Brian Urlacher', ' ', 'HOF", 'LB', 'New Mexico', 2000)]

In [127]:
cursor.execute("""CREATE TABLE draft_picks(
                id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
                pick_number INT,
                name VARCHAR(100),
                position VARCHAR(10),
                college VARCHAR(50),
                year INT
                )""")

In [74]:
def get_draft_info(year):
    draft_page = requests.get("https://www.pro-football-reference.com/years/" + str(year) + "/draft.htm")
    draft_soup = BS(draft_page.content, 'html.parser')
    draft_html = list(draft_soup.children)[3]
    draft_body = list(draft_html.children)[3]
    draft_table = list(draft_body.children)[1]
    draft_info = list(draft_table.children)[11]
    draft_info_table = list(draft_info.children)[9]
    draft_detail = list(draft_info_table.children)[3]
    dtable = draft_detail.find("table")
    drows = dtable.findAll('tr')
    ddata = [[td.findChildren(text=True) for td in tr.findAll("td")] for tr in drows]
    ddata2 = []
    for i in ddata:
        if len(i) == 28:
            ddata2.append({'pick': i[0], 'name': i[2], 'position': i[3], 'college': i[-2], 'year': year})
    return ddata2

In [75]:
results00 = get_draft_info(2000)

In [76]:
results00

[{'pick': ['1'],
  'name': ['Courtney Brown'],
  'position': ['DE'],
  'college': ['Penn St.'],
  'year': 2000},
 {'pick': ['2'],
  'name': ['LaVar Arrington'],
  'position': ['LB'],
  'college': ['Penn St.'],
  'year': 2000},
 {'pick': ['3'],
  'name': ['Chris Samuels'],
  'position': ['T'],
  'college': ['Alabama'],
  'year': 2000},
 {'pick': ['4'],
  'name': ['Peter Warrick'],
  'position': ['WR'],
  'college': ['Florida St.'],
  'year': 2000},
 {'pick': ['5'],
  'name': ['Jamal Lewis'],
  'position': ['RB'],
  'college': ['Tennessee'],
  'year': 2000},
 {'pick': ['6'],
  'name': ['Corey Simon'],
  'position': ['DT'],
  'college': ['Florida St.'],
  'year': 2000},
 {'pick': ['7'],
  'name': ['Thomas Jones'],
  'position': ['RB'],
  'college': ['Virginia'],
  'year': 2000},
 {'pick': ['8'],
  'name': ['Plaxico Burress'],
  'position': ['WR'],
  'college': ['Michigan St.'],
  'year': 2000},
 {'pick': ['9'],
  'name': ['Brian Urlacher', ' ', 'HOF'],
  'position': ['LB'],
  'college': ['New Mexico'],
  'year': 2000},
 {'pick': ['10'],
  'name': ['Travis Taylor'],
  'position': ['WR'],
  'college': ['Florida'],
  'year': 2000},
 {'pick': ['11'],
  'name': ['Ron Dayne'],
  'position': ['RB'],
  'college': ['Wisconsin'],
  'year': 2000},
 {'pick': ['12'],
  'name': ['Shaun Ellis'],
  'position': ['DE'],
  'college': ['Tennessee'],
  'year': 2000},
 {'pick': ['13'],
  'name': ['John Abraham'],
  'position': ['DE'],
  'college': ['South Carolina'],
  'year': 2000},
 {'pick': ['14'],
  'name': ['Bubba Franks'],
  'position': ['TE'],
  'college': ['Miami (FL)'],
  'year': 2000},
 {'pick': ['15'],
  'name': ["Deltha O'Neal"],
  'position': ['DB'],
  'college': ['California'],
  'year': 2000},
 {'pick': ['16'],
  'name': ['Julian Peterson'],
  'position': ['LB'],
  'college': ['Michigan St.'],
  'year': 2000},
 {'pick': ['17'],
  'name': ['Sebastian Janikowski'],
  'position': ['K'],
  'college': ['Florida St.'],
  'year': 2000},
 {'pick': ['18'],
  'name': ['Chad Pennington'],
  'position': ['QB'],
  'college': ['Marshall'],
  'year': 2000},
 {'pick': ['19'],
  'name': ['Shaun Alexander'],
  'position': ['RB'],
  'college': ['Alabama'],
  'year': 2000},
 {'pick': ['20'],
  'name': ['Stockar McDougle'],
  'position': ['T'],
  'college': ['Oklahoma'],
  'year': 2000},
 {'pick': ['21'],
  'name': ['Sylvester Morris'],
  'position': ['WR'],
  'college': ['Jackson St.'],
  'year': 2000},
 {'pick': ['22'],
  'name': ['Chris McIntosh'],
  'position': ['T'],
  'college': ['Wisconsin'],
  'year': 2000},
 {'pick': ['23'],
  'name': ['Rashard Anderson'],
  'position': ['DB'],
  'college': ['Jackson St.'],
  'year': 2000},
 {'pick': ['24'],
  'name': ['Ahmed Plummer'],
  'position': ['DB'],
  'college': ['Ohio St.'],
  'year': 2000},
 {'pick': ['25'],
  'name': ['Chris Hovan'],
  'position': ['DT'],
  'college': ['Boston Col.'],
  'year': 2000},
 {'pick': ['26'],
  'name': ['Erik Flowers'],
  'position': ['DE'],
  'college': ['Arizona St.'],
  'year': 2000},
 {'pick': ['27'],
  'name': ['Anthony Becht'],
  'position': ['TE'],
  'college': ['West Virginia'],
  'year': 2000},
 {'pick': ['28'],
  'name': ['Rob Morris'],
  'position': ['LB'],
  'college': ['BYU'],
  'year': 2000},
 {'pick': ['29'],
  'name': ['R. Jay Soward'],
  'position': ['WR'],
  'college': ['USC'],
  'year': 2000},
 {'pick': ['30'],
  'name': ['Keith Bulluck'],
  'position': ['LB'],
  'college': ['Syracuse'],
  'year': 2000},
 {'pick': ['31'],
  'name': ['Trung Canidate'],
  'position': ['RB'],
  'college': ['Arizona'],
  'year': 2000},
 {'pick': ['32'],
  'name': ['Dennis Northcutt'],
  'position': ['WR'],
  'college': ['Arizona'],
  'year': 2000},
 {'pick': ['33'],
  'name': ['Darren Howard'],
  'position': ['DE'],
  'college': ['Kansas St.'],
  'year': 2000},
 {'pick': ['34'],
  'name': ['Mark Roman'],
  'position': ['DB'],
  'college': ['LSU'],
  'year': 2000},
 {'pick': ['35'],
  'name': ['John Engelberger'],
  'position': ['DE'],
  'college': ['Virginia Tech'],
  'year': 2000},
 {'pick': ['36'],
  'name': ['Todd Pinkston'],
  'position': ['WR'],
  'college': ['Southern Miss'],
  'year': 2000},
 {'pick': ['37'],
  'name': ['Travis Claridge'],
  'position': ['G'],
  'college': ['USC'],
  'year': 2000},
 {'pick': ['38'],
  'name': ['Marvel Smith'],
  'position': ['T'],
  'college': ['Arizona St.'],
  'year': 2000},
 {'pick': ['39'],
  'name': ['Mike Brown'],
  'position': ['DB'],
  'college': ['Nebraska'],
  'year': 2000},
 {'pick': ['40'],
  'name': ['Ian Gold'],
  'position': ['LB'],
  'college': ['Michigan'],
  'year': 2000},
 {'pick': ['41'],
  'name': ['Raynoch Thompson'],
  'position': ['LB'],
  'college': ['Tennessee'],
  'year': 2000},
 {'pick': ['42'],
  'name': ['Cornelius Griffin'],
  'position': ['DT'],
  'college': ['Alabama'],
  'year': 2000},
 {'pick': ['43'],
  'name': ['Rogers Beckett'],
  'position': ['DB'],
  'college': ['Marshall'],
  'year': 2000},
 {'pick': ['44'],
  'name': ['Chad Clifton'],
  'position': ['T'],
  'college': ['Tennessee'],
  'year': 2000},
 {'pick': ['45'],
  'name': ['Kenoy Kennedy'],
  'position': ['DB'],
  'college': ['Arkansas'],
  'year': 2000},
 {'pick': ['46'],
  'name': ['Adrian Klemm'],
  'position': ['G'],
  'college': ['Hawaii'],
  'year': 2000},
 {'pick': ['47'],
  'name': ['Jerry Porter'],
  'position': ['WR'],
  'college': ['West Virginia'],
  'year': 2000},
 {'pick': ['48'],
  'name': ['Jason Webster'],
  'position': ['DB'],
  'college': ['Texas A&M'],
  'year': 2000},
 {'pick': ['49'],
  'name': ['Dwayne Goodrich'],
  'position': ['DB'],
  'college': ['Tennessee'],
  'year': 2000},
 {'pick': ['50'],
  'name': ['Barrett Green'],
  'position': ['LB'],
  'college': ['West Virginia'],
  'year': 2000},
 {'pick': ['51'],
  'name': ['Cosey Coleman'],
  'position': ['G'],
  'college': ['Tennessee'],
  'year': 2000},
 {'pick': ['52'],
  'name': ['Ike Charlton'],
  'position': ['DB'],
  'college': ['Virginia Tech'],
  'year': 2000},
 {'pick': ['53'],
  'name': ['Todd Wade'],
  'position': ['T'],
  'college': ['Mississippi'],
  'year': 2000},
 {'pick': ['54'],
  'name': ['William Bartee'],
  'position': ['DB'],
  'college': ['Oklahoma'],
  'year': 2000},
 {'pick': ['55'],
  'name': ['Fred Robbins'],
  'position': ['DT'],
  'college': ['Wake Forest'],
  'year': 2000},
 {'pick': ['56'],
  'name': ['Michael Boireau'],
  'position': ['DE'],
  'college': ['Miami (FL)'],
  'year': 2000},
 {'pick': ['57'],
  'name': ['Deon Grant'],
  'position': ['DB'],
  'college': ['Tennessee'],
  'year': 2000},
 {'pick': ['58'],
  'name': ['Travares Tillman'],
  'position': ['DB'],
  'college': ['Georgia Tech'],
  'year': 2000},
 {'pick': ['59'],
  'name': ['Marcus Washington'],
  'position': ['LB'],
  'college': ['Auburn'],
  'year': 2000},
 {'pick': ['60'],
  'name': ['Brad Meester'],
  'position': ['C'],
  'college': ['Northern Iowa'],
  'year': 2000},
 {'pick': ['61'],
  'name': ['Bobbie Williams'],
  'position': ['G'],
  'college': ['Arkansas'],
  'year': 2000},
 {'pick': ['62'],
  'name': ['Jacoby Shepherd'],
  'position': ['DB'],
  'college': ['Oklahoma St.'],
  'year': 2000},
 {'pick': ['63'],
  'name': ['Travis Prentice'],
  'position': ['RB'],
  'college': ['Miami (OH)'],
  'year': 2000},
 {'pick': ['64'],
  'name': ['Lloyd Harrison'],
  'position': ['DB'],
  'college': ['North Carolina St.'],
  'year': 2000},
 {'pick': ['65'],
  'name': ['Giovanni Carmazzi'],
  'position': ['QB'],
  'college': ['Hofstra'],
  'year': 2000},
 {'pick': ['66'],
  'name': ['Ron Dugans'],
  'position': ['WR'],
  'college': ['Florida St.'],
  'year': 2000},
 {'pick': ['67'],
  'name': ['Mark Simoneau'],
  'position': ['LB'],
  'college': ['Kansas St.'],
  'year': 2000},
 {'pick': ['68'],
  'name': ['Erron Kinney'],
  'position': ['TE'],
  'college': ['Florida'],
  'year': 2000},
 {'pick': ['69'],
  'name': ['Dez White'],
  'position': ['WR'],
  'college': ['Georgia Tech'],
  'year': 2000},
 {'pick': ['70'],
  'name': ['Chris Cole'],
  'position': ['WR'],
  'college': ['Texas A&M'],
  'year': 2000},
 {'pick': ['71'],
  'name': ['Darwin Walker'],
  'position': ['DT'],
  'college': ['Tennessee'],
  'year': 2000},
 {'pick': ['72'],
  'name': ['Kendrick Clancy'],
  'position': ['DT'],
  'college': ['Mississippi'],
  'year': 2000},
 {'pick': ['73'],
  'name': ['Ron Dixon'],
  'position': ['WR'],
  'college': ['Lambuth'],
  'year': 2000},
 {'pick': ['74'],
  'name': ['Steve Warren'],
  'position': ['DT'],
  'college': ['Nebraska'],
  'year': 2000},
 {'pick': ['75'],
  'name': ['Chris Redman'],
  'position': ['QB'],
  'college': ['Louisville'],
  'year': 2000},
 {'pick': ['76'],
  'name': ['J.R. Redmond'],
  'position': ['RB'],
  'college': ['Arizona St.'],
  'year': 2000},
 {'pick': ['77'],
  'name': ['Hank Poteat'],
  'position': ['DB'],
  'college': ['Pittsburgh'],
  'year': 2000},
 {'pick': ['78'],
  'name': ['Laveranues Coles'],
  'position': ['WR'],
  'college': ['Florida St.'],
  'year': 2000},
 {'pick': ['79'],
  'name': ['JaJuan Dawson'],
  'position': ['WR'],
  'college': ['Tulane'],
  'year': 2000},
 {'pick': ['80'],
  'name': ['Darrell Jackson'],
  'position': ['WR'],
  'college': ['Florida'],
  'year': 2000},
 {'pick': ['81'],
  'name': ['Reuben Droughns'],
  'position': ['RB'],
  'college': ['Oregon'],
  'year': 2000},
 {'pick': ['82'],
  'name': ['Leander Jordan'],
  'position': ['T'],
  'college': ['Indiana (PA)'],
  'year': 2000},
 {'pick': ['83'],
  'name': ['Damion McIntosh'],
  'position': ['T'],
  'college': ['Kansas St.'],
  'year': 2000},
 {'pick': ['84'],
  'name': ['Ben Kelly'],
  'position': ['DB'],
  'college': ['Colorado'],
  'year': 2000},
 {'pick': ['85'],
  'name': ['Greg Wesley'],
  'position': ['DB'],
  'college': ['Ark-Pine Bluff'],
  'year': 2000},
 {'pick': ['86'],
  'name': ['Jeff Ulbrich'],
  'position': ['LB'],
  'college': ['Hawaii'],
  'year': 2000},
 {'pick': ['87'],
  'name': ['Dustin Lyman'],
  'position': ['TE'],
  'college': ['Wake Forest'],
  'year': 2000},
 {'pick': ['88'],
  'name': ['Doug Chapman'],
  'position': ['RB'],
  'college': ['Marshall'],
  'year': 2000},
 {'pick': ['89'],
  'name': ['Corey Moore'],
  'position': ['LB'],
  'college': ['Virginia Tech'],
  'year': 2000},
 {'pick': ['90'],
  'name': ['Nate Webster'],
  'position': ['LB'],
  'college': ['Miami (FL)'],
  'year': 2000},
 {'pick': ['91'],
  'name': ['David Macklin'],
  'position': ['DB'],
  'college': ['Penn St.'],
  'year': 2000},
 {'pick': ['92'],
  'name': ['T.J. Slaughter'],
  'position': ['LB'],
  'college': ['Southern Miss'],
  'year': 2000},
 {'pick': ['93'],
  'name': ['Byron Frisch'],
  'position': ['DE'],
  'college': ['BYU'],
  'year': 2000},
 {'pick': ['94'],
  'name': ['John St. Clair'],
  'position': ['T'],
  'college': ['Virginia'],
  'year': 2000},
 {'pick': ['95'],
  'name': ['Lewis Sanders'],
  'position': ['DB'],
  'college': ['Maryland'],
  'year': 2000},
 {'pick': ['96'],
  'name': ['Terrelle Smith'],
  'position': ['FB'],
  'college': ['Arizona St.'],
  'year': 2000},
 {'pick': ['97'],
  'name': ['Curtis Keaton'],
  'position': ['RB'],
  'college': ['James Madison'],
  'year': 2000},
 {'pick': ['98'],
  'name': ["Na'il Diggs"],
  'position': ['LB'],
  'college': ['Ohio St.'],
  'year': 2000},
 {'pick': ['99'],
  'name': ['Gari Scott'],
  'position': ['WR'],
  'college': ['Michigan St.'],
  'year': 2000},
 {'pick': ['100'],
  'name': ['Michael Thompson'],
  'position': ['T'],
  'college': ['Tennessee St.'],
  'year': 2000},
 {'pick': ['101'],
  'name': ['Jerry Johnson'],
  'position': ['DT'],
  'college': ['Florida St.'],
  'year': 2000},
 {'pick': ['102'],
  'name': ['David Barrett'],
  'position': ['DB'],
  'college': ['Arkansas'],
  'year': 2000},
 {'pick': ['103'],
  'name': ['Danny Farmer'],
  'position': ['WR'],
  'college': ['UCLA'],
  'year': 2000},
 {'pick': ['104'],
  'name': ['Kaulana Noa'],
  'position': ['T'],
  'college': ['Hawaii'],
  'year': 2000},
 {'pick': ['105'],
  'name': ['Brandon Short'],
  'position': ['LB'],
  'college': ['Penn St.'],
  'year': 2000},
 {'pick': ['106'],
  'name': ['Antonio Wilson'],
  'position': ['LB'],
  'college': ['Texas A&M-Commerce'],
  'year': 2000},
 {'pick': ['107'],
  'name': ['Junior Ioane'],
  'position': ['DT'],
  'college': ['Arizona St.'],
  'year': 2000},
 {'pick': ['108'],
  'name': ['John Keith'],
  'position': ['DB'],
  'college': ['Furman'],
  'year': 2000},
 {'pick': ['109'],
  'name': ['Kareem Larrimore'],
  'position': ['DB'],
  'college': ['West Texas A&M'],
  'year': 2000},
 {'pick': ['110'],
  'name': ['Aaron Shea'],
  'position': ['TE'],
  'college': ['Michigan'],
  'year': 2000},
 {'pick': ['111'],
  'name': ['Trevor Gaylor'],
  'position': ['WR'],
  'college': ['Miami (OH)'],
  'year': 2000},
 {'pick': ['112'],
  'name': ['Cooper Carlisle'],
  'position': ['G'],
  'college': ['Florida'],
  'year': 2000},
 {'pick': ['113'],
  'name': ['Leonardo Carson'],
  'position': ['DT'],
  'college': ['Auburn'],
  'year': 2000},
 {'pick': ['114'],
  'name': ['Anthony Lucas'],
  'position': ['WR'],
  'college': ['Arkansas'],
  'year': 2000},
 {'pick': ['115'],
  'name': ['Frank Moreau'],
  'position': ['RB'],
  'college': ['Louisville'],
  'year': 2000},
 {'pick': ['116'],
  'name': ['Marcus Bell'],
  'position': ['LB'],
  'college': ['Arizona'],
  'year': 2000},
 {'pick': ['117'],
  'name': ['Deon Dyer'],
  'position': ['FB'],
  'college': ['North Carolina'],
  'year': 2000},
 {'pick': ['118'],
  'name': ['Tyrone Carter'],
  'position': ['DB'],
  'college': ['Minnesota'],
  'year': 2000},
 {'pick': ['119'],
  'name': ['Isaiah Kacyvenski'],
  'position': ['LB'],
  'college': ['Harvard'],
  'year': 2000},
 {'pick': ['120'],
  'name': ['Alvin McKinley'],
  'position': ['DE'],
  'college': ['Mississippi St.'],
  'year': 2000},
 {'pick': ['121'],
  'name': ['Avion Black'],
  'position': ['WR'],
  'college': ['Tennessee St.'],
  'year': 2000},
 {'pick': ['122'],
  'name': ['Josh Williams'],
  'position': ['DT'],
  'college': ['Michigan'],
  'year': 2000},
 {'pick': ['123'],
  'name': ['Joey Chustz'],
  'position': ['T'],
  'college': ['Louisiana Tech'],
  'year': 2000},
 {'pick': ['124'],
  'name': ['Bobby Myers'],
  'position': ['DB'],
  'college': ['Wisconsin'],
  'year': 2000},
 {'pick': ['125'],
  'name': ['Reggie Austin'],
  'position': ['DB'],
  'college': ['Wake Forest'],
  'year': 2000},
 {'pick': ['126'],
  'name': ['Gary Berry'],
  'position': ['DB'],
  'college': ['Ohio St.'],
  'year': 2000},
 {'pick': ['127'],
  'name': ['Greg Randall'],
  'position': ['T'],
  'college': ['Michigan St.'],
  'year': 2000},
 {'pick': ['128'],
  'name': ['Peter Sirmon'],
  'position': ['LB'],
  'college': ['Oregon'],
  'year': 2000},
 {'pick': ['129'],
  'name': ['Michael Moore'],
  'position': ['G'],
  'college': ['Troy'],
  'year': 2000},
 {'pick': ['130'],
  'name': ['Anthony Malbrough'],
  'position': ['DB'],
  'college': ['Texas Tech'],
  'year': 2000},
 {'pick': ['131'],
  'name': ['Tutan Reyes'],
  'position': ['G'],
  'college': ['Mississippi'],
  'year': 2000},
 {'pick': ['132'],
  'name': ['Paul Smith'],
  'position': ['RB'],
  'college': ['Texas-El Paso'],
  'year': 2000},
 {'pick': ['133'],
  'name': ['Robert Bean'],
  'position': ['DB'],
  'college': ['Mississippi St.'],
  'year': 2000},
 {'pick': ['134'],
  'name': ['Anthony Midget'],
  'position': ['DB'],
  'college': ['Virginia Tech'],
  'year': 2000},
 {'pick': ['135'],
  'name': ['Aric Morris'],
  'position': ['DB'],
  'college': ['Michigan St.'],
  'year': 2000},
 {'pick': ['136'],
  'name': ['Mao Tosi'],
  'position': ['DT'],
  'college': ['Idaho'],
  'year': 2000},
 {'pick': ['137'],
  'name': ['Clark Haggans'],
  'position': ['LB'],
  'college': ['Colorado St.'],
  'year': 2000},
 {'pick': ['138'],
  'name': ['Matt Johnson'],
  'position': ['G'],
  'college': ['BYU'],
  'year': 2000},
 {'pick': ['139'],
  'name': ['Brian Young'],
  'position': ['DT'],
  'college': ['Texas-El Paso'],
  'year': 2000},
 {'pick': ['140'],
  'name': ['Ralph Brown'],
  'position': ['DB'],
  'college': ['Nebraska'],
  'year': 2000},
 {'pick': ['141'],
  'name': ['Dave Stachelski'],
  'position': ['TE'],
  'college': ['Boise St.'],
  'year': 2000},
 {'pick': ['142'],
  'name': ['Shane Lechler'],
  'position': ['P'],
  'college': ['Texas A&M'],
  'year': 2000},
 {'pick': ['143'],
  'name': ['Windrell Hayes'],
  'position': ['WR'],
  'college': ['USC'],
  'year': 2000},
 {'pick': ['144'],
  'name': ['Michael Wiley'],
  'position': ['RB'],
  'college': ['Ohio St.'],
  'year': 2000},
 {'pick': ['145'],
  'name': ['Todd Franz'],
  'position': ['DB'],
  'college': ['Tulsa'],
  'year': 2000},
 {'pick': ['146'],
  'name': ['Lamar Chapman'],
  'position': ['DB'],
  'college': ['Kansas St.'],
  'year': 2000},
 {'pick': ['147'],
  'name': ['Gillis Wilson'],
  'position': ['DE'],
  'college': ['Saginaw Valley St.'],
  'year': 2000},
 {'pick': ['148'],
  'name': ['Richard Mercier'],
  'position': ['G'],
  'college': ['Miami (FL)'],
  'year': 2000},
 {'pick': ['149'],
  'name': ['Kabeer Gbaja-Biamila'],
  'position': ['DE'],
  'college': ['San Diego St.'],
  'year': 2000},
 {'pick': ['150'],
  'name': ['John Milem'],
  'position': ['DE'],
  'college': ['Lenoir-Rhyne'],
  'year': 2000},
 {'pick': ['151'],
  'name': ['Joey Jamison'],
  'position': ['WR'],
  'college': ['Texas Southern'],
  'year': 2000},
 {'pick': ['152'],
  'name': ['Arturo Freeman'],
  'position': ['DB'],
  'college': ['South Carolina'],
  'year': 2000},
 {'pick': ['153'],
  'name': ['Dante Hall'],
  'position': ['WR'],
  'college': ['Texas A&M'],
  'year': 2000},
 {'pick': ['154'],
  'name': ['Muneer Moore'],
  'position': ['WR'],
  'college': ['Richmond'],
  'year': 2000},
 {'pick': ['155'],
  'name': ['Quincy Sanders'],
  'position': ['DB'],
  'college': ['UNLV'],
  'year': 2000},
 {'pick': ['156'],
  'name': ['Sammy Morris'],
  'position': ['RB'],
  'college': ['Texas Tech'],
  'year': 2000},
 {'pick': ['157'],
  'name': ['James Whalen'],
  'position': ['TE'],
  'college': ['Kentucky'],
  'year': 2000},
 {'pick': ['158'],
  'name': ['Austin Wheatley'],
  'position': ['TE'],
  'college': ['Iowa'],
  'year': 2000},
 {'pick': ['159'],
  'name': ['Kiwaukee Thomas'],
  'position': ['DB'],
  'college': ['Georgia Southern'],
  'year': 2000},
 {'pick': ['160'],
  'name': ['Frank Chamberlin'],
  'position': ['LB'],
  'college': ['Boston Col.'],
  'year': 2000},
 {'pick': ['161'],
  'name': ['Jeff Marriott'],
  'position': ['DT'],
  'college': ['Missouri'],
  'year': 2000},
 {'pick': ['162'],
  'name': ['Pat Dennis'],
  'position': ['DB'],
  'college': ['La-Monroe'],
  'year': 2000},
 {'pick': ['163'],
  'name': ['Tee Martin'],
  'position': ['QB'],
  'college': ['Tennessee'],
  'year': 2000},
 {'pick': ['164'],
  'name': ['Jay Tant'],
  'position': ['TE'],
  'college': ['Northwestern'],
  'year': 2000},
 {'pick': ['165'],
  'name': ['Troy Walters'],
  'position': ['WR'],
  'college': ['Stanford'],
  'year': 2000},
 {'pick': ['166'],
  'name': ['Chad Morton'],
  'position': ['RB'],
  'college': ['USC'],
  'year': 2000},
 {'pick': ['167'],
  'name': ['Ernest Grant'],
  'position': ['DT'],
  'college': ['Ark-Pine Bluff'],
  'year': 2000},
 {'pick': ['168'],
  'name': ['Marc Bulger'],
  'position': ['QB'],
  'college': ['West Virginia'],
  'year': 2000},
 {'pick': ['169'],
  'name': ['Neil Rackers'],
  'position': ['K'],
  'college': ['Illinois'],
  'year': 2000},
 {'pick': ['170'],
  'name': ['Frank Murphy'],
  'position': ['WR'],
  'college': ['Kansas St.'],
  'year': 2000},
 {'pick': ['171'],
  'name': ['Thomas Hamner'],
  'position': ['RB'],
  'college': ['Minnesota'],
  'year': 2000},
 {'pick': ['172'],
  'name': ['Mareno Philyaw'],
  'position': ['WR'],
  'college': ['Troy'],
  'year': 2000},
 {'pick': ['173'],
  'name': ['Chris Combs'],
  'position': ['DE'],
  'college': ['Duke'],
  'year': 2000},
 {'pick': ['174'],
  'name': ['Paul Edinger'],
  'position': ['K'],
  'college': ['Michigan St.'],
  'year': 2000},
 {'pick': ['175'],
  'name': ['James Williams'],

In [77]:
for sub in results00:
    for key in sub:
        sub[key] = str(sub[key]).strip("['']")

In [78]:
for sub in results00:
    sub['pick'] = int(sub['pick'])

In [79]:
for sub in results00:
    sub['year'] = int(sub['year'])

In [88]:
results00[0]

{'pick': 1,
 'name': 'Courtney Brown',
 'position': 'DE',
 'college': 'Penn St.',
 'year': 2000}

In [91]:
draft_list = []
for player in results00:
    draft_list.append((player['pick'], player['name'], player['position'], player['college'], player['year']))

In [98]:
stmt = "INSERT INTO nfl_draft_info.draft_picks (pick_number, name, position, college, year) VALUES (%s, %s, %s, %s, %s)"
cursor.executemany(stmt, draft_list)

In [105]:
def insert_into_draft_table(year1, year2):
    for i in range(year1, year2):
        draft_results = get_draft_info(i)
        for sub in draft_results:
            for key in sub:
                sub[key] = str(sub[key]).strip("['']")
        for sub in draft_results:
            sub['pick'] = int(sub['pick'])
        for sub in draft_results:
            sub['year'] = int(sub['year'])
        draft_list = []
        for player in draft_results:
            draft_list.append((player['pick'], player['name'], player['position'], player['college'], player['year']))
        stmt = "INSERT INTO nfl_draft_info.draft_picks (pick_number, name, position, college, year) VALUES (%s, %s, %s, %s, %s)"
        cursor.executemany(stmt, draft_results)
        cnx.commit()

In [111]:
def get_draft_list(year1, year2):
    draft_results_list = []
    for i in range(year1, year2):
        draft_results = get_draft_info(i)
        for sub in draft_results:
            for key in sub:
                sub[key] = str(sub[key]).strip("['']")
        for sub in draft_results:
            sub['pick'] = int(sub['pick'])
        for sub in draft_results:
            sub['year'] = int(sub['year'])
        draft_results_list.append(draft_results)
    return draft_results_list
        #draft_list = []
        #for player in draft_results:
            #draft_list.append((player['pick'], player['name'], player['position'], player['college'], player['year']))
    #return draft_list

In [119]:
def get_full_player_list(year1, year2):
    draft_results_ld = get_draft_list(year1, year2)
    draft_list = []
    for year in draft_results_ld:
        for player in year:
            draft_list.append((player['pick'], player['name'], player['position'], player['college'], player['year']))
    return draft_list
#             stmt = "INSERT INTO nfl_draft_info.draft_picks (pick_number, name, position, college, year) VALUES (%s, %s, %s, %s, %s)"
#             cursor.executemany(stmt, draft_results_ld)
#             cnx.commit()

In [159]:
draft_list = get_full_player_list(2000,2001)

In [122]:
def insert_into_sql(dlist):
    stmt = "INSERT INTO nfl_draft_info.draft_picks (pick_number, name, position, college, year) VALUES (%s, %s, %s, %s, %s)"
    cursor.executemany(stmt, dlist)
    cnx.commit()

In [160]:
insert_into_sql(draft_list)

In [163]:
cursor.execute("""SELECT id, pick_number, name, position, year FROM draft_picks""")
draft_picks = cursor.fetchall()

In [164]:
draft_picks[0]

(1, 1, 'Michael Vick', 'QB', 2001)

In [165]:
df = pd.DataFrame(draft_picks, columns = ['id', 'pick', 'name', 'position', 'year'])
df = df.set_index('id')
df.tail()

      pick            name position  year
id
5091   250    Ethan Howell       WR  2000
5092   251     DaShon Polk       LB  2000
5093   252  Rondell Mealey       RB  2000
5094   253   Alfonso Boone       DT  2000
5095   254   Michael Green       DB  2000

In [174]:
df[df['name'].str.contains('HOF')]

      pick               name position  year
id
1313    34  "D'Qwell Jackson"       LB  2006

In [171]:
df = df.replace("Brian Urlacher', ' ', 'HOF", "Brian Urlacher")

In [172]:
df.head()

    pick                name position  year
id
1      1        Michael Vick       QB  2001
2      2       Leonard Davis        T  2001
3      3       Gerard Warren       DT  2001
4      4        Justin Smith       DE  2001
5      5  Ladanian Tomlinson       RB  2001